---
---

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
</nav>

<style>
    nav {
    display: flex;
    gap: 1rem;
  }
  nav a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
  }
  nav a:hover {
    background-color: #6b21a8;
  }
  nav a:active {
    background-color: #8b34c4;
  }
  nav a:focus {
    background-color: #a947e0;
  }
</style>